# ============================
# Node / Backend
# ============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
server/.env
server/.env.local
server/.env.*.local


# Logs
logs/
*.log

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# ============================
# Vue / Frontend
# ============================
client/node_modules/
client/dist/
client/.env
client/.env.local

# Vite / Cache
client/.vite
client/.cache

# ============================
# Build output
# ============================
dist/
build/

# ============================
# System files
# ============================
.DS_Store
Thumbs.db

# ============================
# IDE / Editor
# ============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ============================
# Uploads (optional)
# ============================
server/uploads/
